@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Tomorrow&display=swap');

*{
  margin: 0;
  border: 0;
}

.container{
  background-color: #1e1e1e;
  color: #7d5bed;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 40px;
}
.navContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 5px solid blueviolet; */
  width: 80%;
  font-family: 'Inter', sans-serif;
}

.searcBar{
  /* border: 5px solid blueviolet; */
  width: 330px;
  height: 30px;
  border-radius: 5px;
  background-color: #363636;
  color: #d6d6d6;
}

.search-btn{
  width: 333px;
  height: 30px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #7d5bed;
  color: #d6d6d6;
}

/* info card compoenent css */
.info-container{
  display: flex;
  justify-content: space-between;
  border: 1px solid #d6d6d6;
  width: 90%;
  color: #d6d6d6;
  border-radius: 10px;
  margin: 10px;
  background-color: #363636;

}
.pfp-container{
  display: flex;
  margin-left: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  /* border: 5px solid rgb(210, 31, 28); */

}
.pfp-image{
  max-width: 123px;

}
.profile-info{
  margin-left: 10px;
  min-width: 50%;
  margin-top: 20px;
  /* border: 5px solid rgb(255, 0, 153); */
}